<div class="cards">
    <div class="card">
        <i class="fa-solid fa-leaf"></i>
        <div class="card-content">
            <p class="card-title"><b>Herbs: {{ totalHerbs !== null ? totalHerbs : 'Chargement...' }}</b></p>
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-file"></i>
        <div class="card-content">
            <p class="card-title"><b>Articles: {{ totalArticles !== null ? totalArticles : 'Chargement...' }}</b></p>
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-users"></i>
        <div class="card-content">
            <p class="card-title"><b>Clients: {{ totalClients !== null ? totalClients : 'Chargement...' }}</b></p>
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-hand-dots"></i>
        <div class="card-content">
            <p class="card-title"><b>Allergies: {{ totalAllergies !== null ? totalAllergies : 'Chargement...' }}</b></p>
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-tablets"></i>
        <div class="card-content">
            <p class="card-title"><b>Medicines: {{ totalMedicines !== null ? totalMedicines : 'Chargement...' }}</b></p>
            
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-lungs-virus"></i>
        <div class="card-content">
            <p class="card-title"><b>Diseases: {{ totalDiseases !== null ? totalDiseases : 'Chargement...' }}</b></p>
        </div>
    </div>
</div>
