<div class="scrollable-container">
    <!-- En-têtes -->
    <div class="table-headers">
      <div style="margin-left: -4rem !important">Name</div>
      <div style="margin-right: 6.7rem !important">Origin</div>
      <div style="margin-right: 16rem !important">Caracteristiques</div>
    </div>
    
    <!-- Conteneur scrollable -->
    <div class="cards-container">
      <div class="card" >
        <div class="name">Thym</div>
        <div class="origin">Atlas</div>
        <div class="caract">Antioxydant, anti-inflammatoire, stimulant</div>
        <button class="more" mat-button (click)="openModal()"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      <div class="card">
        <div class="name">Romarin</div>
        <div class="origin">Rif</div>
        <div class="caract">Antibactérien, digestif, stimulant</div>
        <button class="more" mat-button (click)="openModal()"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      <div class="card">
        <div class="name">Menthe</div>
        <div class="origin">Marrakech</div>
        <div class="caract">Digestif, rafraîchissant, antispasmodique</div>
        <button class="more" mat-button (click)="openModal()"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      <div class="card">
        <div class="name">Menthe</div>
        <div class="origin">Marrakech</div>
        <div class="caract">Digestif, rafraîchissant, antispasmodique</div>
        <button class="more" mat-button (click)="openModal()"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      <div class="card">
        <div class="name">Menthe</div>
        <div class="origin">Marrakech</div>
        <div class="caract">Digestif, rafraîchissant, antispasmodique</div>
        <button class="more" mat-button (click)="openModal()"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      <div class="card">
        <div class="name">Menthe</div>
        <div class="origin">Marrakech</div>
        <div class="caract">Digestif, rafraîchissant, antispasmodique</div>
        <button class="more" ><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      <div class="card">
        <div class="name">Menthe</div>
        <div class="origin">Marrakech</div>
        <div class="caract">Digestif, rafraîchissant, antispasmodique</div>
        <button class="more" ><i class="fa-solid fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
  