<div class="scrollable-container">
    <!-- En-têtes -->
    <div class="table-headers">
      <div style="margin-left: -3.7rem !important">Name</div>
      <div style="margin-left: -6.8rem !important">Origin</div>
      <div style="margin-left: 5rem !important">Caracteristiques</div>
      <div style="margin-right: 5rem !important">Actions</div>
    </div>
    
    <!-- Conteneur scrollable -->
    <div class="cards-container">
      <div class="card"  *ngFor="let plant of herbs">
        <div class="name">{{plant.nom}}</div>
        <div class="origin">{{plant.region}}</div>
        
        <div class="caract">
          <span   *ngFor="let prop of plant.proprietes">{{prop.nom}}, </span>  

        </div>
        <div class="actions" style="margin-right: -6.5rem;">
          
          <button  class="delete" (click)="editPlante(plant)"><i class="fa-solid fa-pen-to-square"></i></button>

          <button  class="delete" (click)="deletePlantes(plant.id!)"><i class="fa-solid fa-trash"></i></button>
  
        </div>
        
        <button class="more" mat-button (click)="details(plant.id!)"><i class="fa-solid fa-chevron-right"></i></button>

        
      </div>
      
    </div>
  </div>
  