/* Taille et style général du modal */
mat-dialog-container {
    width: 900px; /* Largeur fixe pour un bon affichage */
    height: auto; /* Hauteur adaptée au contenu */
    max-height: 90vh; /* Limite la hauteur pour éviter les débordements */
    overflow-y: auto; /* Ajoute un défilement vertical si le contenu est trop grand */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #ede8dc;
  }
  
  /* Titre centré */
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
    margin-top: 1rem;
    text-align: center;
  }
  
  /* Ajustements responsive */
  @media (max-width: 768px) {
    mat-dialog-container {
      width: 90%; /* Plus étroit sur petits écrans */
      max-height: 70vh; /* Réduit la hauteur maximale */
      padding: 15px; /* Moins de padding pour économiser l'espace */
    }
  }
  
  /* Contenu principal du modal */
  .modal-content {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu horizontalement */
    text-align: left;
  }
  
  /* Conteneur de l'image (centrée horizontalement) */
  .image-container {
    display: flex;
    justify-content: center; /* Centrer l'image horizontalement */
    margin-bottom: 20px; /* Espace entre l'image et le texte */
  }
  
  /* Image (ajustement de la taille) */
  .plant-image {
    max-width: 100%; /* Empêche l'image de déborder */
    height: auto; /* Maintient les proportions de l'image */
    border-radius: 8px; /* Bordure arrondie pour une meilleure présentation */
  }
  
  /* Détails de la plante */
  .plant-details {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  /* Actions du modal (bouton de fermeture) */
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 15px;
  }
  
  button[mat-button] {
    font-size: 14px;
    color: #555;
  }
  