<h2 mat-dialog-title class="modal-title" style="color: #6b8e23; margin-left: 1rem;">Details Herbs :</h2>

<div class="modal-content">
  <!-- Image -->
  <div class="image-container" >
    <img src="example.jpg" alt="Plante Image" class="plant-image">
  </div>

  <!-- Plant Details -->
  <div class="plant-details">
    <p><strong>Name  :</strong> <span class="plant-name">x</span></p>
    <p><strong>Region :</strong> <span class="plant-region">Une plante aromatique utilisée en cuisine et en médecine traditionnelle.</span></p>
    <p><strong>Precautions :</strong> <span class="plant-precautions">Éviter en cas d'allergie connue.</span></p>
    <p><strong>Interactions :</strong> <span class="plant-interactions">Peut interagir avec certains médicaments anticoagulants.</span></p>
    <p><strong>Properties :</strong> <span class="plant-properties">Maroc</span></p>
    <p><strong>Description :</strong> <span class="plant-description">Antioxydantes, digestives.</span></p>
  </div>
</div>

<!-- Modal Actions -->
<div class="modal-actions">
  <button mat-button  (click)="close()">Fermer</button>
</div>