body {
    margin: 0;
    padding: 0;
    display: flex;
}

.header {
    background-color: #c1cfa1;
    width: 100%;
    height: 6.5rem;
}

.container {
    display: flex; /* Activer flexbox */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Aligner verticalement les éléments */
    padding: 0 1rem; /* Ajouter un peu d'espace à gauche et à droite (optionnel) */
}

img {
    width: 8rem;
    margin-top: -1rem; /* Facultatif, à ajuster selon vos besoins */
}

a {
    margin-top: 0; /* Supprime le décalage vertical */
    text-decoration: none; /* Supprimer le soulignement (optionnel) */
    color: black; /* Ajuster la couleur (optionnel) */
    font-weight: bold; /* Rendre le texte plus lisible (optionnel) */
}
