.header {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #e7cccc;
    margin-left: 70rem;
    width: 6.5rem;
    height: 3rem;
    margin-top: 1.2rem;
    margin-right: 2.1rem;
    border: none; /* Remove border if there is one */
    border-radius: 5px; /* Optional: to round the corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Hover effect */
.btn:hover {
    background-color: #d2a1a1; /* Change the background color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}
