<app-navbar></app-navbar>

<div class="home-container">
    <!-- Section Bannière -->
    <div class="banner">
        <h1>🌿 Discover the Power of Medicinal Plants</h1>
        <p>Explore an exclusive collection designed to enhance your well-being every day.</p>
        <button class="cta-button"routerLink="/articles">Start Your Journey</button>
    </div>  
    

    <section class="plants-citation-section">
        <h2>Our Medicinal Plants</h2>
        <div class="plants-citation-container">
      
          <!-- Ligne 1 : Carte à gauche et Citation à droite -->
          <div class="plants-citation-row">
            <div class="card">
              <div class="card-image">
                <img src="assets/images/plante5.jpg" alt="Aloe Vera" />
              </div>
              <div class="card-content">
                <h3>Aloe Vera</h3>
              </div>
            </div>
            <div class="citation">
              <p>🌱 "Medicinal plants are a natural and effective way to improve well-being."</p>
              <h4>- Sophie R.</h4>
            </div>
          </div>
    
          <!-- Ligne 2 : Citation à gauche et Carte à droite -->
          <div class="plants-citation-row">
            <div class="citation">
              <p>🌱 "Incredible benefits! The natural remedies have changed my daily life."</p>
              <h4>- John D.</h4>
            </div>
            <div class="card">
              <div class="card-image">
                <img src="assets/images/plante2.jpg" alt="Lavender" />
            </div>
            <div class="card-content">
              <h3>Lavender</h3>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Bouton "See More" -->
<button class="see-more-button" routerLink="/plantes">See More ...</button>

    </section>
    
    <!--section des avis-->
    <div class="testimonials-section">
        <h2>What Our Users Are Saying</h2>
        <div class="testimonials-container">
            <div class="testimonials-wrapper">
                <div class="testimonial">
                    <p>🌱 "Medicinal plants have transformed my life. Thank you for this fantastic site!"</p>
                    <h4>- Marie L.</h4>
                </div>
                <div class="testimonial">
                    <p>🌱 "An incredible resource for discovering the benefits of plants."</p>
                    <h4>- Paul T.</h4>
                </div>
                <div class="testimonial">
                    <p>🌱 "Clear and useful information. I highly recommend it!"</p>
                    <h4>- Clara B.</h4>
                </div>
                <div class="testimonial">
                    <p>🌱 "I'm impressed by the quality and depth of the information."</p>
                    <h4>- Marc D.</h4>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>
