<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/statistiques" routerLinkActive="active">
        <i class="bi bi-bookmarks"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/herbs" routerLinkActive="active">
        <i class="bi bi-bookmarks"></i>
        <span>Herbs</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/articles" routerLinkActive="active">
        <i class="bi bi-gear"></i>
        <span>Articles</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/clients" routerLinkActive="active">
        <i class="bi bi-megaphone"></i>
        <span>Clients</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/allergies" routerLinkActive="active">
        <i class="bi bi-megaphone"></i>
        <span>Allergies</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/medicine" routerLinkActive="active">
        <i class="bi bi-megaphone"></i>
        <span>Medicines</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/diseases" routerLinkActive="active">
        <i class="bi bi-megaphone"></i>
        <span>Diseases</span>
      </a>
    </li>
  </ul>
</aside>
