

/* Navbar Styling */
.navbar {
    box-shadow: 0 4px 6px rgba(14, 16, 14, 0.1);
    z-index: 1000;
    background-color: #C1CFA1;
    padding: 5px;
    display: flex;
    border-radius: 3px;
    justify-content: space-between; /* Distribute content between left and right */
    align-items: center; /* Vertically center the content */
    position: static; /* Ne fixe pas la navbar */
}

/* Container for navbar content */
.navbar-container {
    display: flex;
    justify-content: space-between; /* Position logo left, links center, logout right */
    align-items: center;
    width: 100%; /* Ensure the container takes up full width */
    max-width: 600px;
    margin: 0.5%;
}

/* Logo Styling */
.navbar-logo {
    display: flex;
    align-items: center;
    margin-left: 0; /* Align to the left of the navbar */
}

.navbar-logo img {
    height: 90px;  /* Set a fixed height for the logo */
    width: auto;   /* Maintain aspect ratio */
}

/* Navigation Links */
.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px; /* Space between navigation buttons */
    margin-left: 40%;
    padding: 0;
    flex-grow: 0; /* Allow the links to take available space and center them */
    justify-content: center; /* Center the links */
}

/* Style for Each Button */
.navbar-links li button {
    padding: 5px 20px;
    background-color: #C1CFA1;
    border: 1px solid #C1CFA1; /* Border color */
    border-radius: 5px; /* Rounded corners */
    transition:  transform 0.3s ease;
    cursor: pointer;
}

.navbar-links li button a {
    text-decoration: none;
    color: #0c0b07; /* Text color */
    font-size: 15px;
    font-weight: bold;
}

.navbar-links li button:hover {
    transform: scale(1.1); /* Slight zoom effect */
}


/* Style for Log Out Button */
.navbar-links li.log-out {
    margin-left: 20%; /* Pushes the Log Out button to the far right */
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align the items to the start */
    }

    .navbar-logo {
        margin-bottom: 15px; /* Add space below the logo */
    }

    .navbar-links {
        flex-direction: column; /* Stack the navigation buttons vertically */
        gap: 10px; /* Space between the buttons */
    }
}
