<nav class="navbar">
    <div class="navbar-container">
        <!-- Logo -->
        <div class="navbar-logo">
            <a href="#">
                <img src="../../../assets/images/logo_plante.png" alt="Logo" />
            </a>
        </div>

        <!-- Navigation Links -->
        <ul class="navbar-links">
            <li><button><a href="accueil">Home</a></button></li>
            <li><button><a href="articles">Articles</a></button></li>
            <li><button><a href="plantes">Plants</a></button></li>
            <li><button><a href="profil">Profile</a></button></li>
            <li><button><a href="notifications">Notifications</a></button></li>
            <!-- Log Out -->
            <li class="log-out"><button><a href="#">Log Out</a></button></li>
        </ul>
    </div>
</nav>
