/* Navbar Styling */
.navbar {
    background-color: #C1CFA1;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 4px 6px rgba(14, 16, 14, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Container for navbar content */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo Styling */
.navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* Navigation Links */
.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px; /* Space between navigation buttons */
    margin: 0;
    padding: 0;
     
}

/* Style for Each Button */
.navbar-links li button {
    padding: 10px 20px;
    background-color: #ffffff; /* White button background */
    border: 1px solid #eeedea; /* Border color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.navbar-links li button a {
    text-decoration: none;
    color: #0c0b07; /* Text color */
    font-size: 16px;
    font-weight: bold;
}

.navbar-links li button:hover {
    background-color: #EDE8DC; /* Light background on hover */
    transform: scale(1.1); /* Slight zoom effect */
}

.navbar-links li button:hover a {
    color: #ffffff; /* White text on hover */
}

/* Style for Log Out Button */
.navbar-links li.log-out {
    margin-left: auto; /* Pushes the Log Out button to the maximum right */
}
