<div class="container">
    <section class="section1" style="width: 70%;">
        <app-form (addEvent)="onAdd($event)"></app-form>
        <app-list [paramList]="allAllergies" (deleteEvent)="onDelete($event)"></app-list>
    </section>
        
    <section style="width: 30%;">
        <div class="carousel-vertical">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="../../../assets/images/allergies/pic4.jpeg" alt="Allergy Image 4" loading="lazy">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/images/allergies/pic1.jpeg" alt="Allergy Image 5" loading="lazy">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/images/allergies/pic2.avif" alt="Allergy Image 1" loading="lazy">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/images/allergies/pic3.jpeg" alt="Allergy Image 2" loading="lazy">
                </div>
            </div>
        </div>
    </section>
</div>
