<app-navbar></app-navbar>

<div class="cute-article-container">
  <ng-container *ngIf="loading; else loaded">
    <p class="cute-loading">Loading article details...</p>
  </ng-container>

  <ng-template #loaded>
    <div *ngIf="article" class="cute-article-layout">
      <article class="cute-article-content">
        <div class="cute-article-header">
          <img [src]="article.images[0].imageUrl" [alt]="article.titre" class="cute-article-image">
          <h1 class="cute-article-title">{{ article.titre }}</h1>
        </div>
        <p class="cute-article-text">{{ article.contenu }}</p>
      </article>

      <section class="cute-comments-section">
        <h2 class="cute-comments-title">Commentaires</h2>
        <div *ngIf="article.commentaires && article.commentaires.length > 0; else noComments">
          <div *ngFor="let comment of article.commentaires" class="cute-comment">
            <p class="cute-comment-header"><strong>{{ comment.utilisateur.username }}</strong> - {{ comment.date | date:'short' }}</p>
            <p class="cute-comment-text">{{ comment.contenu }}</p>
          </div>
        </div>
        <ng-template #noComments>
          <p class="cute-no-comments">Aucun commentaire pour cet article.</p>
        </ng-template>
 <!-- Champ pour ajouter un commentaire -->
 <div class="add-comment">
  <textarea [(ngModel)]="newComment" placeholder="Ajouter un commentaire"></textarea>
  <button (click)="addComment()">Ajouter un commentaire</button>
</div>
</section>
</div>
  </ng-template>

  <ng-template #error>
    <p class="cute-error">{{ errorMessage }}</p>
  </ng-template>
</div>



