<div class="addmodal">
    <h3 style="color: #6b8e23; margin-left: 1rem; margin-top: 1rem;">Add a Herb</h3>
  
    <form>
      <!-- Title -->
      <div class="form">
        <mat-label>Title :</mat-label>
        <input matInput placeholder="Enter the name" [(ngModel)]="article.titre" name="nom">
      </div>
  
      <!-- Content -->
      <div class="form">
        <mat-label>Content :</mat-label>
        <textarea matInput placeholder="Enter the description" [(ngModel)]="article.contenu" name="description"></textarea>
      </div>
  
      <!-- Image -->
      <div class="form">
        <mat-label>Image :</mat-label>
        <input matInput placeholder="Enter the image URL" [(ngModel)]="article.image" name="image">
      </div>
    </form>
  </div>
  
   <mat-dialog-actions>
      <button mat-button (click)="close()">CANCEL</button>
      <button mat-raised-button color="primary" (click)="submit()">Add</button>
    </mat-dialog-actions>