<app-navbar></app-navbar>

<!-- Conteneur de la barre de recherche -->
<div class="search-bar-container">
  <!-- Champ de recherche -->
  <input type="text" class="search-input" placeholder="Search plants...">
  <button class="search-button">
    <img src="assets/icons/search_icon.png" alt="Search Icon" class="search-icon">

  </button>
</div>

<div class="plants-list">
  <h2>Discover Our Plants</h2>
  <div class="card" *ngFor="let plant of plantes.slice(0, 1)">
    <button class="favorite-icon">
        <img src="assets/icons/favorie.png" alt="Favorite">
    </button>
    <div class="card-image">
      <img [src]="plant.image" [alt]="plant.nom">
    </div>
    <div class="card-content">
      <h3>{{ plant.nom }}</h3>
      <p>A wonderful plant with amazing properties!</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
