.list-container {
  margin: 20px;
}

.list-table {
  width: 100%;
  border-collapse: collapse;
}

.list-table th, .list-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.list-table th {
  background-color: #f4f4f4;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: red; /* Couleur de l'icône de suppression */
}

.delete-btn .material-icons {
  font-size: 20px;
}

.delete-btn:hover {
  color: darkred; /* Change la couleur au survol */
}
