<div class="list-container">
    <table class="list-table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td>{{ item.name }}</td>
          <td>
            <button (click)="deleteItem(i)" class="delete-btn">
              <span class="material-icons">delete</span> <!-- Icône de suppression -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  