.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #c1cfa1;
    width: 100vw; /* Utilise toute la largeur de la fenêtre */
    position: fixed; /* Fixe le header en haut de la fenêtre */
    top: 0; /* Positionne le header en haut */
    left: 0; /* Assure qu'il soit collé au bord gauche */
    right: 0; /* Assure qu'il soit collé au bord droit */
    z-index: 1000; /* S'assure que le header soit au-dessus des autres éléments */
}

img {
    width: 8%;
}

button {
    padding: 1%; /* Ajoute de l'espace autour du texte */
    width: 80px; /* Définie la largeur du bouton */
    margin-left: -50%; /* Décalage du bouton vers la gauche */
    background-color: #778f56; /* Couleur de fond */
    padding: 0.3rem;
    color: #000000; /* Texte blanc */
    border: none; /* Supprime les bordures par défaut */
    border-radius: 5px; /* Coins arrondis pour un effet plus doux */
    font-size: 14px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main lors du survol */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animation pour le survol */
  }
  
  button:hover {
    background-color: #778f56; /* Change la couleur de fond au survol */
    transform: scale(1.05); /* Agrandit légèrement le bouton lors du survol */
  }
  
  button:focus {
    outline: none; /* Enlève l'effet de contour lorsque le bouton est cliqué */
  }
  



  