<div class="client-details">
      
    <h3 class="titles">Favourites : </h3>
    <ul *ngIf="favoris.length > 0; else noFavoris">
      <li *ngFor="let favori of favoris">
        <strong>{{ favori.planteName }}</strong>
      </li>
    </ul>
    <ng-template #noFavoris>
      <p>No favorites found.</p>
    </ng-template>
  
    <h3 class="titles">Saved Articles :</h3>
    <ul *ngIf="articles.length > 0; else noArticles">
      <li *ngFor="let article of articles">
        <strong>{{ article.titreArticle }} </strong>
        
      </li>
    </ul>
    <ng-template #noArticles>
      <p>No saved articles found.</p>
    </ng-template>
  
    <button mat-button (click)="close()">Close</button>
  </div>
  