body {
  width: 100%; /* Largeur fixe élégante */
  height: auto; /* Hauteur adaptée au contenu */
  max-height: 90vh; /* Limite la hauteur pour éviter les débordements */
  overflow-y: auto; /* Ajoute un défilement vertical si le contenu est trop grand */
  padding: 25px; /* Plus de padding pour un design plus aéré */
  border-radius: 20px; /* Bordure arrondie pour un effet moderne */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Ombre élégante */
  background: linear-gradient(145deg, #f5f5f5, #dcdcdc); /* Dégradé doux */
  border: 1px solid #ccc; /* Légère bordure */
}


.client-details {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .titles{
    font-size: 30px; /* Plus grand pour plus d'impact */
    font-weight: 500; /* Gras pour mettre en valeur */
    color: #84ad31; /* Couleur professionnelle */
    margin-bottom: 20px;
    margin-top: 1rem;
    text-align: left;
    letter-spacing: 1.2px; /* Espacement pour un style plus raffiné */
  }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #e8f5e9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #e8f5e9;
    border-radius: 5px;
  }
  
  /* Style des boutons */
  button[mat-button] {
    margin-top: -0.5rem;
    margin-left: 24rem;
    font-size: 16px; /* Texte plus lisible */
    padding: 10px 20px; /* Boutons plus grands */
    color: black; /* Texte blanc */
    background-color: #e7cccc; /* Vert élégant */
    border: none;
    border-radius: 8px; /* Boutons arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
  }
  
  /* Hover effect */
  .button:hover {
    background-color: #d2a1a1; /* Change la couleur de fond au survol */
  }