<app-navbar></app-navbar>

<div class="notifications-container">
  <h2 class="title">Notifications</h2>
  <div *ngIf="notifications.length === 0" class="no-notifications">
    Vous n'avez pas de notifications.
  </div>
  <div *ngFor="let notification of notifications" class="notification" 
       [class.read]="notification.vu" (click)="markAsRead(notification)">
    <div class="notification-icon">
      <img src="assets/images/plante2.jpg" [alt]="notification.objet" />
    </div>
    <div class="notification-content">
      <h3>{{ notification.objet }}</h3>
      <p>{{ notification.message }}</p>
      <div class="notification-status">
        <span *ngIf="notification.vu" class="read-status">✅ Lue</span>
        <span *ngIf="!notification.vu" class="unread-status">❗ Pas encore lue</span>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
