<app-navbar></app-navbar>

<div class="profile-container">
  <!-- Profile Details Card -->
  <div class="card profile-details">
    <h2>Profile Details</h2>
    <ul>
      <li *ngFor="let field of profileFields">
        <span>{{ field.label }}</span>
        
        <!-- Affichage des champs quand ils ne sont pas en édition -->
        <ng-container *ngIf="!field.isEditing">
          <span>{{ field.value }}</span>
          <button class="action-btn" (click)="field.isEditing = true">Edit</button>
        </ng-container>
        
        <!-- Affichage des champs quand ils sont en édition -->
        <ng-container *ngIf="field.isEditing">
          <div *ngIf="field.label !== 'Password'">
            <input [(ngModel)]="field.value" [type]="field.label === 'Email' ? 'email' : 'text'" />
          </div>
          <div *ngIf="field.label === 'Password'">
            <input [(ngModel)]="field.value" type="password" />
          </div>
          <button class="action-btn" (click)="updateField(field)">Save</button>
        </ng-container>
      </li>
    </ul>
  </div>

  <!-- Medical Details Card -->
  <div class="card medical-details">
    <h2>Medical Details</h2>
    <ul>
      <li *ngFor="let field of medicalFields">
        <span>{{ field.label }}</span>
        
        <!-- Affichage des champs médicaux quand ils ne sont pas en édition -->
        <ng-container *ngIf="!field.isEditing">
          <span>{{ field.value.length > 0 ? field.value : 'None' }}</span>
          <button class="action-btn" (click)="field.isEditing = true">Edit</button>
        </ng-container>
        
        <!-- Affichage des champs médicaux quand ils sont en édition -->
        <ng-container *ngIf="field.isEditing">
          <div class="options-list">
            <label *ngFor="let option of field.options">
              <input
                type="checkbox"
                [checked]="field.value.includes(option)"
                (change)="toggleOption(field, option)"
              />
              {{ option }}
            </label>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>
</div>

<app-footer></app-footer>
