<app-navbar></app-navbar>

<div class="plant-details-container">
  <!-- Conteneur de l'image avec l'icône cœur -->
  <div class="plant-image-container">
  

    <!-- Image de la plante -->
    <img [src]="plant?.image" alt="{{ plant?.nom }}" class="plant-image">
  </div>

  <!-- Informations sur la plante -->
  <div class="plant-info">
    <h2 class="plant-name">{{ plant?.nom }}</h2>
    <p class="plant-region">Region: <span>{{ plant?.region }}</span></p>
    <h3>Properties:</h3>
    <ul id="properties-list" class="property-list">
      <li *ngFor="let property of plant?.proprietes">{{ property.nom }}</li>
    </ul>
  </div>

  <!-- Détails supplémentaires -->
  <div class="plant-details">
    <div class="detail-section">
      <h3 class="section-title">
        
        Precautions:
      </h3>
      <p>{{ plant?.precaution }}</p>
    </div>
    <div class="detail-section">
      <h3 class="section-title">
        
        Drug interactions:
      </h3>
      <p>{{ plant?.interaction }}</p>
    </div>
    <div class="detail-section">
      <h3 class="section-title">
        
        Description:
      </h3>
      <p>{{ plant?.description }}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>