/* Informations sur la plante (à gauche) */
.plant-info {
    width: 30%;
    text-align: left; /* Alignement du texte à gauche */
    padding-right: 50px; /* Espacement à droite pour éviter le chevauchement */
}

/* Nom de la plante */
.plant-name {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 0; /* Ajoutez cette ligne pour supprimer l'espacement supérieur */
}

/* Region de la plante */
.plant-region {
    font-size: 18px;
    color: #888;
    text-align: left; /* Alignement du texte */
    padding-left: 10px;
    margin-bottom: 15px; /* Espacement sous la région */
}

/* Liste des propriétés de la plante */
.property-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.property-list li {
    font-size: 16px;
    color: #555;
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacement entre les éléments */
}

.property-list li::before {
    content: "•";
    color: #f56c42; /* Bullet point orange */
    font-size: 20px;
    margin-right: 10px; /* Espacement entre le point et le texte */
}

/* Section des détails */
.plant-details {
    width: 40%;
}

.detail-section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #333;
    margin-bottom: 15px;
}

.section-title svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #f56c42;
}

.detail-section p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    padding-left: 10px;
}

/* Style général */
.plant-details-container {
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 8%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row; /* Changez de column à row */
    justify-content: space-between;
    align-items: flex-start;
}

.plant-image-container {
    position: relative;
    width: 30%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 15px;
}

/* Image */
.plant-image {
    width: 100%;
    height: 450px; /* Hauteur réduite */
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.plant-image:hover {
    transform: scale(1.05);
}

/* Icône cœur */
.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #f56c42;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease, color 0.3s ease;
}

.heart-icon i:hover {
    color: red;
    transform: scale(1.2);
}