<div class="cards">
    <div class="card">
        <i class="fa-solid fa-leaf"></i>
        <div class="card-content">
            <p class="card-title"><b>Herbs: ?</b></p>
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-file"></i>
        <div class="card-content">
            <p class="card-title"><b>Articles: ?</b></p>
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-users"></i>
        <div class="card-content">
            <p class="card-title"><b>Clients: ?</b></p>
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-hand-dots"></i>
        <div class="card-content">
            <p class="card-title"><b>Allergies: ?</b></p>
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-tablets"></i>
        <div class="card-content">
            <p class="card-title"><b>Medicines: ?</b></p>
            
        </div>
    </div>
    <div class="card">
        <i class="fa-solid fa-lungs-virus"></i>
        <div class="card-content">
            <p class="card-title"><b>Diseases: ?</b></p>
        </div>
    </div>
</div>
