.footer {
    background-color: #C1CFA1; /* Fond vert clair */
    color: #EDE8DC; /* Couleur du texte */
    padding: 20px 0.5px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Prend toute la largeur */
    position: relative; /* Position statique par défaut */
    bottom: 0; /* S'assure qu'il soit en bas */
    left: 0; /* Collé au bord gauche */
    z-index: 1000;
    background-size: cover; /* Ajuste l'image pour couvrir l'intégralité */
    background-repeat: no-repeat; /* Empêche la répétition */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacement entre sections */
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-nav ul li a:hover {
    color: #EDE8DC;
    transform: scale(1.1);
    text-decoration: underline;
}

.footer-copy p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #0c0a0a;
    text-align: center;
}

/* Section de la citation */
.footer-quote {
    font-size: 18px;
    color: #0c0a0a;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}
