<div *ngIf="!isLoading" class="articles-container">
  <!-- Bouton Ajouter -->
  <button mat-raised-button color="primary" (click)="openAddArticle()" class="btn">Add</button>

  <!-- Affichage des articles sous forme de cartes : (click)="openAddArticleModal()" -->
  <div *ngIf="articles.length > 0" class="articles-grid">
    <div *ngFor="let article of articles" class="article-card" (click)="selectArticle(article)">
      <!-- Section de l'image -->
      <div class="article-image-wrapper">
        <img *ngIf="article.images.length > 0" [src]="article.images[0].imageUrl" alt="Image de l'article" class="article-image" />
      </div>
      <!-- Section du contenu -->
      <div class="article-content">
        <h3>{{ article.titre }}</h3>
        <p>{{ article.contenu | slice: 0:100 }}...</p> <!-- Extrait de contenu -->
      </div>
    </div>
  </div>

  <!-- Affichage de l'article complet lorsqu'on clique sur une carte -->
  <div *ngIf="selectedArticle" class="article-detail">
    <button mat-button (click)="closeArticle()" style="background-color: #e7cccc;border: none; border-radius: 5px; ">Close</button>
    
    <h2>{{ selectedArticle.titre }}</h2>
    <div style="display: flex; gap: 2rem;">
      <section class="image" style="width: 30%;" >
        <img *ngIf="selectedArticle.images.length > 0" [src]="selectedArticle.images[0].imageUrl" alt="Image de l'article" class="article-image" />
      </section>
    <section style="width: 70%;">
      <p>{{ selectedArticle.contenu }}</p> <!-- Contenu complet -->
    </section>
    </div>
    
  </div>
</div>

<!-- Affichage pendant le chargement -->
<div *ngIf="isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
